<!doctype html>
<head>
    <title>jerome 🍭</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="jerome 🍭" content="super prismo 🗣🍭" />
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon.png">
    <script src="/assets/scripts/p5.js"></script>
  </head>
  <body>
    <script src="/assets/scripts/sketch.js"></script>
    <main id="p5sketch"></main>
    <div class="block">
      <div class="gutters">
      <h1 id="greetings"></h1>
      <p>
        &gt; My name is <b class="colorMe">Jerome Martinez</b>. I'm passionate about computer science, art, rock climbing and everything in between <br>
        &gt; My email address is <b class="colorMe">jerome.e.martinez at gmail!</b>. Don't hesitate to send me a (nice) message <br>
      </p>
      <h2>Links</h2>
      <p>
        &gt; <a class="colorMe" target="_blank" href="https://openprocessing.org/user/54870">OpenProcessing</a> / 
        <a class="colorMe" target="_blank" href="https://github.com/jromeem">GitHub</a> / 
        <a class="colorMe" target="_blank" href="https://www.instagram.com/jromeem/">Instagram</a> / 
        <a class="colorMe" target="_blank" href="https://vimeo.com/195207471">dadageek</a><br>
      </p>
      <h2>events / projects</h2>
      <p>
        &gt; <a class="colorMe" target="_blank" href="https://vimeo.com/196509630">dadageek::processing</a>, an introductory course to Processing and creative coding (2016) <br>
        &gt; <a class="colorMe" target="_blank" href="https://github.com/jromeem/ddgk-gltch">Glitch Art</a>, a introductory workshop on Processing and creating glitch art (2018) <br>
        {%- for proj in collections.project -%}
          &gt; <a class="colorMe" href="{{ proj.url }}">{{ proj.data.title }}</a>, {{ proj.data.blurb }}<br>
        {%- endfor -%}
      </p>
      {# <h2>thoughts / writing / art</h2>
      <p>
        {%- for post in collections.post -%}
          &gt; <a class="colorMe" href="{{ post.url }}">{{ post.data.title }}</a> <br>
        {%- endfor -%}
      </p>
      <h2>small / random</h2>
      <p>
        {%- for small in collections.small -%}
          &gt; <a class="colorMe" href="{{ small.url }}">{{ small.data.title }}</a> <br>
        {%- endfor -%}
      </p> #}
      <p class="credit">
        &gt; This theme was created by Roni Kaufman! I think he's cool! <a class="credit" target="_blank" href="https://ronikaufman.github.io/">Check him out!</a>:D<br>
      </p>
      </div>
    </div>
</body>
</html>
