<!doctype html>
<head>
    <script src="/assets/scripts/p5.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon.png">
  </head>
  <body>
    <script src="/assets/scripts/sketch.js"></script>
    <main id="p5sketch"></main>
    <div class="block">
      <div class="gutters">
      <h2>{{ title }}</h2>
        <p>{{ content | safe }}</p>
      </div>
    </div>
</body>
</html>
