<!doctype html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="jerome 🍭" content="super prismo 🗣🍭" />
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon.png">
    <script src="/assets/scripts/p5.js"></script>
  </head>
  <body>
    <script src="/assets/scripts/sketch.js"></script>
    <main id="p5sketch"></main>
    <div class="block">
      <div class="gutters">
      <p><a class="back-nav colorMe" href="/">&larr; &#x2302;</a></p><h2>{{ title }}</h2>
        <p>{{ content | safe }}</p>
      </div>
    </div>
  </body>
</html>
