@font-face {
  font-family: VictorMonoMed;
  src: url(/assets/fonts/VictorMono/VictorMono-Medium.woff2);
}

@font-face {
  font-family: VictorMonoIt;
  src: url(/assets/fonts/VictorMono/VictorMono-Italic.woff2);
}

@font-face {
  font-family: VictorMonoMedIt;
  src: url(/assets/fonts/VictorMono/VictorMono-MediumItalic.woff2);
}

@font-face {
  font-family: VictorMonoMedOb;
  src: url(/assets/fonts/VictorMono/VictorMono-MediumOblique.woff2);
}

@font-face {
  font-family: VictorMonoReg;
  src: url(/assets/fonts/VictorMono/VictorMono-Regular.woff2);
}

@font-face {
  font-family: VictorMonoSB;
  src: url(/assets/fonts/VictorMono/VictorMono-SemiBold.woff2);
}

@font-face {
  font-family: VictorMonoSBIt;
  src: url(/assets/fonts/VictorMono/VictorMono-SemiBoldItalic.woff2);
}

@font-face {
  font-family: VictorMonoBIt;
  src: url(/assets/fonts/VictorMono/VictorMono-BoldItalic.woff2);
}

@font-face {
  font-family: VictorMonoB;
  src: url(/assets/fonts/VictorMono/VictorMono-Bold.woff2);
}

:root {
  --background-color: #050505;
  --text-color: #fffbe6;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  font-family: VictorMonoSB;
  overflow-x: hidden;
}

main#p5sketch {
  position: absolute;
}

div.block {
  position: absolute;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: VictorMonoSB;
  width: 45%;
  height: 100%;
  overflow-y: scroll;
}

div.gutters {
  padding-left: 2em;
  padding-right: 2em;
}

img {
  width: 100%;
}

p {
  font-size: 1.15rem;
}

.credit {
  color: #262626;
}

h1, h2 {
  font-family: VictorMonoBIt;
}
h1 {
  margin-top: 1em;
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:link {
  text-decoration: underline;
}
a:hover {
  font-family: VictorMonoSBIt;
}

b, strong {
  font-family: VictorMonoB;
}

/* Add these media queries at the bottom of your CSS file */

/* For mobile devices with max-width 768px */
@media screen and (max-width: 768px) {
  body {
    overflow: auto; /* Allow vertical scrolling if content height exceeds viewport */
  }

  main#p5sketch {
    display: none; /* Hide the p5 sketch */
  }

  div.block {
    width: 100%; /* Make the block content take up the whole screen width */
  }
}
